/*** BODY ****/
body {
  background-color: rgb(35, 56, 84);
  padding: 0px;
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Prompt", "Noto Sans Thai", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Sriracha", "Noto Sans Thai", sans-serif;
}
h1,
h2 {
  color: azure;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.8em;
  text-shadow: 0.2em 0.2em 0.2em darkslategray;
}
h3 {
  color: rgb(230, 162, 162);
}
p {
  color: aliceblue;
  font-size: 1em;
  text-align: justify;
  text-indent: 30px;
}
a {
  color: aliceblue;
  text-decoration: none;
}
.container {
  margin: 20px 10%;
}

/** HEADER **/
.header {
  position: relative;
  color: white;
  padding-top: 10px;
  width: 100%;
  border-radius: 0px 0px 50px 50px;
  z-index: 20;
  margin: auto;
}
.text-header {
  position: absolute;
  bottom: -23px;
  left: 26px;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.433);
  z-index: 21;
}
.text-header-tag {
  position: absolute;
  bottom: 130px;
  left: 30px;
  font-size: 0.75em;
  background-color: rgb(46, 42, 71);
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 21;
}

/*** MENU AREA ****/
.nav {
  background-color: mediumorchid;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 25;
  box-shadow: 0.1em 0.3em 1em rgba(0, 0, 0, 0.433);
}
.nav-menu {
  background-color: mediumorchid;
  list-style-type: none;
  display: inline;
  float: right;
}
a.nav-link {
  color: rgb(255, 255, 255);
  background-color: mediumorchid;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
a.nav-link:hover {
  background-color: rgb(133, 40, 157);
  padding: 18px 10px 20px;
  color: chartreuse;
}
.nav-logo {
  width: 80px;
  list-style-type: none;
  float: left;
  margin-top: -9px;
}
.logo {
  width: 65px;
}

/*Local link*/
.content-list {
  width: 80%;
  margin: 20px 0px;
  padding: 85px 0px 5px;
  color: rgb(226, 221, 213);
  background-color: dodgerblue;
  border-radius: 100px;
  text-align: center;
  position: fixed;
  top: -39px;
  z-index: 19;
  box-shadow: 0.1em 0.1em 5em rgba(16, 2, 2, 0.611);
}
a.local-link {
  color: aliceblue;
  text-decoration: none;
}
a.local-link:hover {
  color: rgb(240, 255, 243);
  text-shadow: 0.2em 0.2em 0.5em rgba(181, 61, 228, 0.534);
  text-decoration: none;
  padding-top: 20px;
}

/*** FOOTER AREA ****/
footer {
  background-color: darkslategray;
  color: darkturquoise;
}
.footer-container {
  display: grid;
  grid-template-areas:
    "author author author social social social"
    "copyright copyright copyright copyright copyright copyright";
  grid-gap: 20px;
  padding: 20px;
}
.author {
  grid-area: author;
  padding: 15px;
}
.footer-logo {
  width: 50px;
}
.footer-author {
  margin-top: 10px;
  font-size: 1.25em;
}
.footer-author-description {
  font-size: 0.75em;
}
.social {
  grid-area: social;
  list-style-type: none;
  text-align: right;
  margin-right: 30px;
}
.copyright {
  color: darkcyan;
  grid-area: copyright;
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.8em;
}
.social-item {
  list-style-type: none;
  align-items: center;
}
i {
  color: ghostwhite;
  margin: 8px;
}

/* scroll bar */
.scroll {
  width: 100%;
  height: 15px;
  bottom: 20;
  position: fixed;
  z-index: 26;
}
.scroll-bar {
  height: 18px;
  background: #b2c8da;
  width: 0%;
  z-index: 26;
}
