/*** BODY ****/
body {
  background-color: rgb(35, 56, 84);
  padding: 0px;
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Prompt', 'Noto Sans Thai' , sans-serif;
}
h1{
  font-family: 'Sriracha', 'Noto Sans Thai' , sans-serif;
}
.container {
  margin-top: -10px;
}

/** HEADER **/
.header {
  margin-top: -20px;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  width: 100%;
  border-radius: 0px 0px 50px 50px;
}
.text-header {
  position: absolute;
  bottom: -23px;
  left: 26px;
  font-size: 4em;
  text-shadow: 0.1em 0.1em 0.1em blackว
}
.text-header-tag {
  position: absolute;
  bottom: 130px;
  left: 30px;
  font-size: 0.75em;
  background-color: rgb(46, 42, 71);
  padding: 5px 10px;
  border-radius: 8px;
}

/*** MENU AREA ****/
.nav {
  background-color: mediumorchid;
  background-position: center;
  background-size: 1em;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
.nav-menu {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 5px;
}
.nav-menu:hover {
  list-style-type: none;
  display: inline;
  float: right;
}
.nav-menu-active {
  list-style-type: none;
  display: inline;
  float: right;
  background-color: mediumorchid;
  padding: 5px 10px 33px;
  border-radius: 100%;
}
a.nav-link {
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
a.nav-link:hover {
  background-color: mediumorchid;
  padding: 0px 10px 28px;
  border-radius: 100%;
  color: chartreuse;
}
.nav-logo {
  width: 80px;
  list-style-type: none;
  float: left;
  margin-top: -5px;
}
.logo {
  width: 65px;
}
li.nav-menu li.nav-logo li.nav-menu-active {
  display: inline-flex;
}

/*** FOOTER AREA ****/
footer {
  background-color: darkslategray;
  color: darkturquoise;
}
.footer-container {
  display: grid;
  grid-template-areas:
    "author author author social social social"
    "copyright copyright copyright copyright copyright copyright";
  grid-gap: 20px;
  padding: 20px;
}
.author {
  grid-area: author;
  padding: 15px;
}
.footer-logo {
  width: 50px;
}
.footer-author {
  margin-top: 10px;
  font-size: 1.25em;
}
.footer-author-description {
  font-size: 0.75em;
}
.social {
  grid-area: social;
  list-style-type: none;
  text-align: right;
  margin-right: 30px;
}
.copyright {
  color: darkcyan;
  grid-area: copyright;
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.80em;
}
.social-item {
  list-style-type: none;
  align-items: center;
}
i {
  color: ghostwhite;
  margin: 8px;
}

/** TOP BOTTON **/
.top {
  z-index: 9;
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: rgba(153, 50, 204, 0.41);
  border-radius: 100%;
  padding: 13px 15px 13px 15px;
  color: whitesmoke;
  text-decoration: none;
}

/** ABOUT**/
.about-content {
  background-color: rgba(33, 13, 13, 0.527);
  border-radius:50px;
  display: grid;
  grid-template-areas: "about-profile about-profile about-personal about-personal about-personal about-personal";
}
.about-profile {
  grid-area: about-profile;
  position: relative;
}
.about-profile-picture {
  border-radius: 50px 0px 0px 50px;
  width: 90%;
}
.about-personal {
  grid-area: about-personal;
}
.about-personal-heading {
  color: rgb(253, 253, 253);
  font-size: 1.75em;
  padding: 35px 0px 0px 0px;
}

.about-personal-content {
  color: rgb(253, 253, 253);
  font-size: 1.25em;
  padding: 35px 0px 0px 0px;
}
.about-social{
  padding-top: 20px;
  list-style-type: none;
}

/*** CONTENT AREA ****/
.content {
  margin: 20px 15% 20px 15%;
  display: block;
}

/**SHOW ALL PAGE **/
.feature {
  display: grid;
  grid-template-areas:
    "sf1 sf1 sf2 sf2 sf3 sf3"
    "sf4 sf4 sf5 sf5 sf6 sf6";
  grid-gap: 30px;
  padding: 10px;
}
.feature1 {
  grid-area: sf1;
}
.feature2 {
  grid-area: sf2;
}
.feature3 {
  grid-area: sf3;
}
.feature4 {
  grid-area: sf4;
}
.feature5 {
  grid-area: sf5;
}
.feature6 {
  grid-area: sf6;
}
.show-feature{
  align-content: center;
  width: 100%;
  border-radius: 0px 30px 0px 30px;
}
.feature-description {
  z-index: 2;
  position: absolute;
  padding: 15px;
  font-size: 1.5em;
  font-size: 1.5em;
  color: rgb(248, 242, 242);
  text-shadow: 0.1em 0.1em 0.2em blackว
}

/** MUSIC  **/
.music-menu {
  display: grid;
  grid-template-areas:
   "music-menu-0 music-menu-0 music-menu-0 music-menu-0 music-menu-0 music-menu-0"
   "music-menu-1 music-menu-1 music-menu-2 music-menu-2 music-menu-3 music-menu-3";
  color: antiquewhite;
  font-size: 1.5em;
  align-content: center;
  gap: 5px;
}
.music-menu-0{
  grid-area: music-menu-0;
  background-color: rgb(45, 201, 84);
}
.music-menu-1{
  grid-area: music-menu-1;
  background-color: rgb(135, 64, 14);
}
.music-menu-2{
  grid-area: music-menu-2;
  background-color: rgb(30, 42, 210);
}
.music-menu-3{
  grid-area: music-menu-3;
  background-color: rgb(141, 96, 104);
}
.music-display{
  padding-top:30px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}
.music-content{
  padding: 20px;
}
.music-content-show{
  background-color: rgba(56, 230, 70, 0.808);
  width: 95%;
  align-self: center;
  padding: 20px;
  border-radius: 30px;
}
table {
  width: 100%;
 border-radius: 20px;
}
.mtablehead{
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  margin: 10px;
  border-radius: 20px;
  color: azure;
  background-color: rgba(124, 45, 84, 0.789);
}
.mtablecontent{
  font-size: 1.25em;
  margin: 10px;
  background-color: rgba(128, 161, 173, 0.583);
}
.msong{
  width: 50%;
}
.mart{
  width: 25%;
}
.mplay{
  width: 25%;
}
.table-title{
  font-size: 3em;
  color: azure;
}