
.ocean {
    z-index: 30;
    height: 5%;
    width: 100%;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation-delay: 2s;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @-webkit-keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  
  .wave2 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 10s cubic-bezier(0.26, 0.45, 0.63, 0.53) infinite;
            animation: wave 10s cubic-bezier(0.26, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave2:nth-of-type(2) {
    top: -175px;
    -webkit-animation: wave 10s cubic-bezier(0.26, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
            animation: wave 10s cubic-bezier(0.26, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes wave2 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes wave2 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @-webkit-keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }

  .loy{
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-image: url(/assets/images/event/loykrathong_krathong.png);
    position: absolute;
    animation: vloy 30s;
    z-index: 40;
    animation-iteration-count: infinite;
    position: fixed;
    right: 200%;
  }
  
@keyframes vloy {
  from {bottom: 20%; right: -10%;}
  5%{bottom: 25%;}
  10%{bottom: 22%;}
  15%{bottom: 19%;}
  20%{bottom: 17%;}
  25%{bottom: 15%;}
  30%{bottom: 18%;}
  35%{bottom: 21%;}
  40%{bottom: 24%;}
  45%{bottom: 25%;}
  50%{bottom: 22%;}
  55%{bottom: 19%;}
  60%{bottom: 17%;}
  65%{bottom: 15%;}
  70%{bottom: 18%;}
  75%{bottom: 21%;}
  80%{bottom: 20%;}
  85%{bottom: 19%;}
  90%{bottom: 17%;}
  95%{bottom: 17%;}
  to {bottom: 20%; right: 120%;} 
}
.kloy{
  bottom: -10%;
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/event/loykrathong_krathong.png);
  position: absolute;
  animation: kloy 30s;
  z-index: 41;
  animation-iteration-count: infinite;
  position: fixed;
  right: 200%;
}

@keyframes kloy {
from {bottom: 10%; right: -30%;}
5%{bottom: 13%;}
10%{bottom: 9%;}
15%{bottom: 5%;}
20%{bottom: 3%;}
25%{bottom: 6%;}
30%{bottom: 11%;}
35%{bottom: 14%;}
40%{bottom: 17%;}
45%{bottom: 17%;}
50%{bottom: 16%;}
55%{bottom: 12%;}
60%{bottom: 8%;}
65%{bottom: 5%;}
70%{bottom: 8%;}
75%{bottom: 11%;}
80%{bottom: 8%;}
85%{bottom: 5%;}
90%{bottom: 8%;}
95%{bottom: 11%;}
to {bottom: 13%; right: 120%;} 
}
.etitle{
  font-family: 'Charmonman', cursive;
  z-index: 45;
  position: absolute;
  position: fixed;
  bottom: 60px;
  left: 100px;
  font-size: 3em;
  font-weight: 800;
  color: aliceblue;
}