.uk-ext-text-white{
    color: azure;
}
.uk-ext-margin30{
    margin: 25px;
    padding: 10px;
}
.uk-ext-margin10{
    height: 60px;
    padding: 0px 10px;
    border-radius: 100%;
}
.uk-ext-textmargin30{
    margin-left: 15px;
    padding: 2px;
}
.uk-ext-textmargin3{
    margin-left: 1px;
    padding: 10px;
}
.uk-contmar{
    margin: 2px;
}
.uk-ext-margin15{
    padding: 5px;
    margin: 0px 10px;
}
li{
   list-style: none;
}
@media only screen and (min-width: 10px) {
    /* For phone: */
    .blog-ext-img-content {height: 5px;
        overflow: hidden;}
}
@media only screen and (min-width: 150px) {
    /* For tablets: */
    .blog-ext-img-content {height: 150px;
        overflow: hidden;}
}
@media only screen and (min-width: 870px) {
    .blog-ext-img-content {height: 400px;
        overflow: hidden;}
}
.uk-feed-mixcont-border{
    margin-top: -10px;
    margin-left: -20px;
    z-index: 0;
}
.uk-ext-z1{
    z-index: 1;
}
ul > li{
    display: inline-block;
}
.font-newsbar{
    font-size: 10px;
    font-weight: 600;
}
.uk-ext-inlineli{
    display: inline;
}
.uk-ext-rss-layout{
  position: relative;
  z-index: 20;
   
}

#canvas{
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    background-color:rgba(0, 0, 0, 0.479);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100 !important;
    backdrop-filter: blur(1px);
    
}

.flex-container-bar {
    display: flex;
    align-items: stretch;
    height: 1.8em;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100 !important;
    
  }
  
  .flex-container-bar > div {
    background-color: rgba(255, 255, 255, 0.747);
    
  }
  .flex-container-bar .titlenewsbar{
    font-weight: 700;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0);
    color: rgb(243, 243, 247);
    display: inline;
    height: 1.3em;
    padding: 0px 5px;
  }
  .newsdisplay{
    font-weight:500 ;
    display: inline;
    font-size: 1.2em;
  
  }
  .uk-label{
    background-image: linear-gradient(135deg, #141413 0%, #323136 100%) !important;
  }
 
  